@tailwind base;
@tailwind components;
@tailwind utilities;

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
header,
main,
nav,
section,
footer {
    margin: 0;
    padding: 0;
}

.scrollbar::-webkit-scrollbar {
    width: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: #ccc;
}
